{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% leaflet_js %}
	{% leaflet_css %}
	<title>Margadarshan</title>
	<link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">
	<script type="text/javascript" src="{% static 'index.js' %}"></script>
	<!-- leaflet routing machine -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

	
</head>
<body>
	<h1>Margadarshan</h1>
	<div id="map">
		{% leaflet_map "mymap" callback="main_map_init" %}
		<script type="text/javascript">
			function main_map_init(map,options){
				// console.log({{ latitude }})
				 L.marker([{{ source_latitude }},{{ source_longitude }}]).addTo(map);
				 L.marker([{{ destination_latitude }},{{ destination_longitude }}]).addTo(map);
				 L.marker([{{post.location.latitude}},{{post.location.longitude}}])
				 L.Routing.control({
				 	waypoints: [
				 		L.latLng({{ source_latitude }},{{ source_longitude }}),
				 		L.latLng({{ destination_latitude }},{{ destination_longitude }})
				 	]
				 }).addTo(map);
				 

			}

			 
   
		</script>
	</div>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<p>{{ distance }}</p>
		<button type="submit">Submit</button>
	</form>
	
		
	<div>
		{% block content %}
		{% endblock %}	
	</div>
	
</body>
</html>