{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% leaflet_js %}
	{% leaflet_css %}
	<title>Margadarshan</title>
	<link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">
	<script type="text/javascript" src="{% static 'index.js' %}"></script>
	<script type="text/javascript" src="{% static 'wicket.js' %}"></script>
	<script type="text/javascript" src="{% static 'wicket-leaflet.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>



	{{form.media}}

<div id="map">
		{% leaflet_map "mymap" callback="main_map_init" %}
		<script type="text/javascript">
			function main_map_init(map,options){
				 // 	var wkt_geom=("Point(27.6828417 85.3178166)");
					// var wicket = new Wkt.Wkt();
					// wicket.read(wkt_geom);
					// var feature = wicket.toObject();
					// L.layerGroup([feature]).addTo(map)
					{% for loc in location%}

						L.marker([{{loc.1}},{{loc.0}}]).addTo(map).on('click', onClick);
						console.log({{loc}})

					{% endfor %}
					

					

					// omnivore.wkt.parse("Point(27.68198 85.32158)").addTo(map);


			}
			function onClick(e) {
			    alert(this.getLatLng());
			}
			

			 

		</script>

	</div>
	{% for post in posts %}
			<p>{{post.location.longitude}}</p>
		{% endfor %}
	

</body>
</html>